body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    box-sizing: border-box;
    margin: 0;
    /* Đảm bảo không có margin bên ngoài */
}

.container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 20px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
}

.input-group input {
    width: calc(100%);
    /* Điều chỉnh để phù hợp với padding và border */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
    /* Đảm bảo padding không làm tăng kích thước */
}

.input-group input[type="submit"] {
    background: #ff4500;
    color: #fff;
    border: 0;
    cursor: pointer;
    /* Điều chỉnh chiều rộng cho nút gửi */
}

.input-group input[type="submit"]:hover {
    background: #e64000;
}

a {
    text-decoration: none;
}

.dangky {
    text-align: right;
    margin-bottom: 20px;
    font-size: small;
}

.dangnhap {
    text-align: center;
    margin-bottom: 20px;
    font-size: small;
}